.page {
    padding: 30px;
}

.row {
    display: flex;
}

.nav {
    padding: 15px 0;
    width: 100%;
    max-width: 200px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.noUser {
    padding: 5px 25px;
}

.content {
    padding: 0 20px;
    border-right: 2px solid #f7f7f7;
}
